@font-face {
    font-family: 'MamaLove';
    src: url('~@/assets/font/MamaLove.ttf');
}

@font-face {
    font-family: 'LongCang';
    src: url('~@/assets/font/LongCang-Regular.ttf');
}

@font-face {
    font-family: 'IndieFlower';
    src: url('~@/assets/font/IndieFlower-Regular.ttf');
}
